<div class="container  container-p-y">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateFormModal"
    (click)="clearData()">
    Add Test
  </button>
</div>

<!-- For Create Model -->

<div class="modal fade custom-modal-fade" id="CreateFormModal" tabindex="-1" aria-labelledby="createFormModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered custom-modal-dialog">
    <div class="modal-content custom-modal-content">
      <div class="modal-header custom-modal-header">
        <div class="modal-title-wrapper">
          <div class="modal-icon">
            <i class="ri-file-add-line" *ngIf="TEST_CODE == 0 && btn == ''"></i>
            <i class="ri-edit-line" *ngIf="TEST_CODE != 0 && btn == 'E'"></i>
            <i class="ri-delete-bin-line" *ngIf="TEST_CODE != 0 && btn == 'D'"></i>
            <i class="ri-eye-line" *ngIf="TEST_CODE != 0 && btn == 'dtls'"></i>
          </div>
          <h5 class="modal-title custom-modal-title" *ngIf="TEST_CODE == 0 && btn == ''">Add New Test</h5>
          <h5 class="modal-title custom-modal-title" *ngIf="TEST_CODE != 0 && btn == 'E'">Edit Test</h5>
          <h5 class="modal-title custom-modal-title" *ngIf="TEST_CODE != 0 && btn == 'D'">Delete Test</h5>
          <h5 class="modal-title custom-modal-title" *ngIf="TEST_CODE != 0 && btn == 'dtls'">Details Test</h5>

        </div>
        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom-modal-body">
        <form [formGroup]="data" (ngSubmit)="submit(data.value)" class="custom-form">
          <div class="form-group-wrapper">

            <div class="custom-form-group">
              <div class="form-floating form-floating-outline mb-4">
                <input type="text" id="test-name" class="form-control" formControlName="TEST_NAME"
                  placeholder="Test Name" />
                <label for="test-name"><i class="ri-flask-line"></i>Test Name <span class="text-danger">*</span></label>
              </div>
              <!-- <div class="text-danger mt-1"
                *ngIf="submitted && data.get('TEST_NAME')?.error && data.get('TEST_NAME')?.invalid">
                TEST NAME is required.
              </div> -->
              <div class="text-danger mt-1" *ngIf="submitted && data.get('TEST_NAME')?.errors">
                <small *ngIf="data.get('TEST_NAME')?.errors['required']">Test Name is required.</small>
              </div>
            </div>

            <div class="custom-form-group">
              <div class="form-floating form-floating-outline mb-4">
                <input type="number" id="testPrice" class="form-control" formControlName="PRICE" placeholder="Price" />
                <label for="testPrice"> <i class="ri-money-rupee-circle-line"></i>Price <span
                    class="text-danger">*</span></label>
              </div>
              <div class="text-danger mt-1" *ngIf="submitted && data.get('PRICE')?.errors">
                <small *ngIf="data.get('PRICE')?.errors['required']">Price is required.</small>
              </div>
            </div>

            <div class="custom-form-group">
              <div class="form-floating form-floating-outline mb-4">
                <input type="number" id="testLabPrice" class="form-control" formControlName="LAB_PRICE"
                  placeholder="Price" />
                <label for="testLabPrice"> <i class="ri-money-rupee-circle-line"></i> Lab Price <span
                    class="text-danger">*</span></label>
              </div>
            </div>

            <div class="custom-form-group" *ngIf="TEST_CODE != 0 && btn == 'D'">
              <div class="form-floating form-floating-outline mb-4">
                <input type="text" id="testLabreason" class="form-control" placeholder="Reason" [(ngModel)]="Reason"
                  [ngModelOptions]="{standalone: true}" required />
                <label for="testLabreason"> <i class="ri-chat-3-line"></i> Delete Reason <span
                    class="text-danger">*</span></label>
              </div>
              <div class="text-danger mt-1" *ngIf="Reason == '' ">
                <small *ngIf="Reason == '' ">Delete Reason required.</small>
              </div>
            </div>

            <div class="modal-footer custom-modal-footer">
              <button type="button" class="custom-btn custom-btn-cancel" data-bs-dismiss="modal">
                <i class="ri-close-line"></i>
                Cancel
              </button>
              <button *ngIf="TEST_CODE == 0 && btn == ''" type="submit" class="custom-btn custom-btn-save" >
                <i class="ri-save-line"></i>
                Save Test
              </button>
              <button *ngIf="TEST_CODE != 0 && btn == 'E'" type="submit" class="custom-btn custom-btn-save"
                data-bs-dismiss="modal">
                <i class="ri-edit-line"></i>
                Edit Test
              </button>
              <button *ngIf="TEST_CODE != 0 && btn == 'D'" type="submit" class="custom-btn custom-btn-save"
                data-bs-dismiss="modal">
                <i class="ri-delete-bin-line"></i>
                Delete Test
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="container-xxl flex-grow-1 container-p-y">
  <div class="card">
    <h5 class="card-header">Test Table</h5>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead class="table-dark" style="--bs-table-bg: #8c57ff !important;">
          <tr>
            <th>Actions</th>
            <th>Test Code</th>
            <th>Test Name</th>
            <th>price</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <tr *ngFor="let _test of tests">
            <td style="width: 160px; white-space: nowrap;">
              <a class="btn btn-sm btn-purple me-2 text-white" href="javascript:void(0);" data-bs-toggle="modal"
                data-bs-target="#CreateFormModal" (click)="getDataById(_test.tesT_CODE,'E')">
                <i class="ri-pencil-line me-1"></i> Edit</a>

              <a class="btn btn-sm btn-danger me-2" href="javascript:void(0);" data-bs-toggle="modal"
                data-bs-target="#CreateFormModal" (click)="getDataById(_test.tesT_CODE,'D')">
                <i class="ri-delete-bin-6-line me-1"></i> Delete</a>

              <a class="btn btn-sm btn-success me-2" href="javascript:void(0);" data-bs-toggle="modal"
                data-bs-target="#CreateFormModal">
                <i class="ri-file-text-line me-1"></i> Invoice</a>
            </td>
            <td><i class="ri-suitcase-2-line ri-22px text-danger me-4"></i><span>{{_test.tesT_CODE}}</span></td>
            <td><a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#CreateFormModal"
                (click)="getDataById(_test.tesT_CODE,'dtls')">{{_test.tesT_NAME}}</a></td>
            <td><span class="badge rounded-pill bg-label-primary me-1">₹ {{_test.price}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>