<table class="datatables-products table dataTable dtr-column collapsed" id="DataTables_Table_0"
  aria-describedby="DataTables_Table_0_info" style="width: 100%">
  <colgroup>
    <col data-dt-column="0" style="width: 43.325px" />
    <col data-dt-column="1" style="width: 62.825px" />
    <col data-dt-column="2" style="width: 482.712px" />
    <col data-dt-column="3" style="width: 179.7px" />
    <col data-dt-column="4" style="width: 92.7375px" />
    <col data-dt-column="7" style="width: 84.3px" />
  </colgroup>
  <thead>
    <tr>
      <th data-dt-column="0" class="control dt-orderable-none" rowspan="1" colspan="1" aria-label="">
        <span class="dt-column-title"></span><span class="dt-column-order"></span>
      </th>
      <th data-dt-column="1" rowspan="1" colspan="1" class="dt-select dt-orderable-none" aria-label="" style="">
        <span class="dt-column-title"></span><span class="dt-column-order"></span><input class="form-check-input"
          type="checkbox" aria-label="Select all rows" />
      </th>
      <th data-dt-column="2" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc dt-ordering-asc"
        aria-sort="ascending" aria-label="product: Activate to invert sorting" tabindex="0">
        <span class="dt-column-title" role="button">product</span><span class="dt-column-order"></span>
      </th>
      <th data-dt-column="4" rowspan="1" colspan="1" class="dt-orderable-none" aria-label="stock" style="">
        <span class="dt-column-title">stock</span><span class="dt-column-order"></span>
      </th>
      <th data-dt-column="5" rowspan="1" colspan="1"
        class="dt-orderable-asc dt-orderable-desc dt-type-numeric dtr-hidden" aria-label="sku: Activate to sort"
        tabindex="0" style="display: none">
        <span class="dt-column-title" role="button">sku</span><span class="dt-column-order"></span>
      </th>
      <th data-dt-column="8" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc dtr-hidden"
        aria-label="status: Activate to sort" tabindex="0" style="display: none">
        <span class="dt-column-title" role="button">status</span><span class="dt-column-order"></span>
      </th>
      <th data-dt-column="9" rowspan="1" colspan="1" class="dt-orderable-none dtr-hidden" aria-label="Actions"
        style="display: none">
        <span class="dt-column-title">Actions</span><span class="dt-column-order"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="dtr-expanded">
      <td class="control" tabindex="0" style=""></td>
      <td class="dt-select" style="">
        <input aria-label="Select row" class="form-check-input" type="checkbox" />
      </td>
      <td class="sorting_1">
        <div class="d-flex justify-content-start align-items-center product-name">
          <div class="avatar-wrapper">
            <div class="avatar avatar me-2 me-sm-4 rounded-2 bg-label-secondary">
              <img src="../../assets/img/ecommerce-images/product-9.png" alt="Product-9" class="rounded" />
            </div>
          </div>
          <div class="d-flex flex-column">
            <h6 class="text-nowrap mb-0">Air Jordan</h6>
            <small class="text-truncate d-none d-sm-block">Air Jordan is a line of basketball shoes produced by
              Nike</small>
          </div>
        </div>
      </td>
      <td class="" style="">
        <span class="text-truncate d-flex align-items-center text-heading">
          <span
            class="w-px-30 h-px-30 rounded-circle d-flex justify-content-center align-items-center bg-label-info me-4"><i
              class="icon-base ri ri-home-6-line icon-18px"></i></span>Shoes
        </span>
      </td>
      <td class="" style="">
        <span class="text-truncate">
          <label class="switch switch-primary switch-sm">
            <input type="checkbox" class="switch-input" id="switch" />
            <span class="switch-toggle-slider">
              <span class="switch-off"></span>
            </span>
          </label>
          <span class="d-none">Out_of_Stock</span>
        </span>
      </td>
      <td class="dt-type-numeric dtr-hidden" style="display: none">
        <span>31063</span>
      </td>
      <td class="dt-type-numeric dtr-hidden" style="display: none">
        <span>$125</span>
      </td>
      <td class="dt-type-numeric" style=""><span>942</span></td>
      <td class="dtr-hidden" style="display: none">
        <span class="badge rounded-pill bg-label-danger" text-capitalized="">Inactive</span>
      </td>
      <td class="dtr-hidden" style="display: none">
        <div class="d-inline-block text-nowrap">
          <button class="btn btn-icon btn-text-secondary rounded-pill waves-effect">
            <i class="icon-base ri ri-edit-box-line icon-22px"></i>
          </button>
          <button class="btn btn-icon btn-text-secondary rounded-pill waves-effect dropdown-toggle hide-arrow"
            data-bs-toggle="dropdown">
            <i class="icon-base ri ri-more-2-line icon-22px"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end m-0">
            <a href="javascript:void(0);" class="dropdown-item">View</a>
            <a href="javascript:void(0);" class="dropdown-item">Suspend</a>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="control" tabindex="0"></td>
      <td class="dt-select" style="">
        <input aria-label="Select row" class="form-check-input" type="checkbox" />
      </td>
      <td class="sorting_1">
        <div class="d-flex justify-content-start align-items-center product-name">
          <div class="avatar-wrapper">
            <div class="avatar avatar me-2 me-sm-4 rounded-2 bg-label-secondary">
              <img src="../../assets/img/ecommerce-images/product-13.png" alt="Product-13" class="rounded" />
            </div>
          </div>
          <div class="d-flex flex-column">
            <h6 class="text-nowrap mb-0">Amazon Fire TV</h6>
            <small class="text-truncate d-none d-sm-block">4K UHD smart TV, stream live TV without cable</small>
          </div>
        </div>
      </td>
      <td class="" style="">
        <span class="text-truncate d-flex align-items-center text-heading">
          <span
            class="w-px-30 h-px-30 rounded-circle d-flex justify-content-center align-items-center bg-label-primary me-4"><i
              class="icon-base ri ri-computer-line icon-18px"></i></span>Electronics
        </span>
      </td>
      <td class="" style="">
        <span class="text-truncate">
          <label class="switch switch-primary switch-sm">
            <input type="checkbox" class="switch-input" id="switch" />
            <span class="switch-toggle-slider">
              <span class="switch-off"></span>
            </span>
          </label>
          <span class="d-none">Out_of_Stock</span>
        </span>
      </td>
      <td class="dt-type-numeric dtr-hidden" style="display: none">
        <span>5829</span>
      </td>
      <td class="dt-type-numeric dtr-hidden" style="display: none">
        <span>$263.49</span>
      </td>
      <td class="dt-type-numeric" style=""><span>587</span></td>
      <td class="dtr-hidden" style="display: none">
        <span class="badge rounded-pill bg-label-warning" text-capitalized="">Scheduled</span>
      </td>
      <td class="dtr-hidden" style="display: none">
        <div class="d-inline-block text-nowrap">
          <button class="btn btn-icon btn-text-secondary rounded-pill waves-effect">
            <i class="icon-base ri ri-edit-box-line icon-22px"></i>
          </button>
          <button class="btn btn-icon btn-text-secondary rounded-pill waves-effect dropdown-toggle hide-arrow"
            data-bs-toggle="dropdown">
            <i class="icon-base ri ri-more-2-line icon-22px"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end m-0">
            <a href="javascript:void(0);" class="dropdown-item">View</a>
            <a href="javascript:void(0);" class="dropdown-item">Suspend</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
