<div class="layout-wrapper layout-content-navbar ">
  <div class="layout-container ">
    <!-- Menu -->

    <aside id="layout-menu" style="position: fixed;" class="layout-menu menu-vertical menu shadow-xs bg-white rounded m-3">
      <div class="app-brand demo ">
        <a href="index.html" class="app-brand-link">
          <span class="app-brand-logo demo me-1">
            <span style="color: var(--bs-primary)">
              <svg width="250" height="200" viewBox="0 0 250 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M125 10L10 190H60L90 140H160L190 190H240L125 10Z" fill="currentColor"/>
                <path d="M125 10L90 140H160L125 10Z" fill="white" fill-opacity="0.3"/>
              </svg>

            </span>
          </span>
          <span class="app-brand-text demo menu-text fw-semibold ms-2">Automate</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
          <i class="menu-toggle-icon d-xl-block align-middle"></i>
        </a>
      </div>

      <div class="menu-inner-shadow"></div>

      <ul class="menu-inner py-1 ">
        <!-- Dashboards -->
        <li class="menu-item active open">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons ri-home-smile-line"></i>
            <div data-i18n="Dashboards">Master</div>
            <!-- <div class="badge bg-danger rounded-pill ms-auto">5</div> -->
          </a>
          <ul class="menu-sub">
            <!-- <li class="menu-item">
              <a
                href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/html/vertical-menu-template/dashboards-crm.html"
                target="_blank"
                class="menu-link">
                <div data-i18n="CRM">CRM</div>
                <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
              </a>
            </li> -->
            <li class="menu-item" routerLinkActive="active">
              <a
                routerLink="/labadmin/add-test"
                class="menu-link">
                <div data-i18n="add-test">Test</div>
                <!-- <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div> -->
              </a>
            </li>
            <li class="menu-item" routerLinkActive="active">
              <a
                routerLink="/labadmin/doctor"
                class="menu-link">
                <div data-i18n="doctor">Doctor</div>
                <!-- <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div> -->
              </a>
            </li>
            <li class="menu-item" routerLinkActive="active">
              <a routerLink="/labadmin/create-employee" class="menu-link">
                <div data-i18n="create-employee"> Create Employee</div>
              </a>
            </li>
            <li class="menu-item" routerLinkActive="active">
              <a
                routerLink="/labadmin/casepaper"
                class="menu-link">
                <div data-i18n="casepaper">Case Paper</div>
                <!-- <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div> -->
              </a>
            </li>
            <!-- <li class="menu-item">
              <a
                href="#"
                class="menu-link">
                <div data-i18n="Logistics">Logistics</div>
                <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
              </a>
            </li> -->
            <!-- <li class="menu-item">
              <a
                href="#"
                class="menu-link">
                <div data-i18n="Academy">Academy</div>
                <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
              </a>
            </li> -->
          </ul>
        </li>
<!-- APPROVE -->
        <li class="menu-item active open">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons ri-home-smile-line"></i>
            <div data-i18n="Dashboards">Approve</div>
            
          </a>
          <ul class="menu-sub">
           
            <li class="menu-item" routerLinkActive="active">
              <a
                routerLink="/labadmin/approve/casepaper/"
                class="menu-link">
                <div data-i18n="approve/casepaper">CasePaper</div>
               
              </a>
            </li>
            <li class="menu-item" routerLinkActive="active">
              <a
                routerLink="/labadmin/approve/test"
                class="menu-link">
                <div data-i18n="approve/test">Test</div>
              </a>
            </li>
          </ul>
        </li>

<!-- EMPLOYEE START!! -->
 <li class="menu-item active open">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons ri-home-smile-line"></i>
            <div data-i18n="Dashboards">MASTER</div>
            
          </a>
          <ul class="menu-sub">
           
            <li class="menu-item" routerLinkActive="active">
              <a
                routerLink="casepaper"
                class="menu-link">
                <div data-i18n="casepaper">CasePaper</div>
               
              </a>
            </li>
            <li class="menu-item" routerLinkActive="active">
              <a
                routerLink="#"
                class="menu-link">
                <div data-i18n="#">Test</div>
              </a>
            </li>
          </ul>
        </li>
 <!-- EMPLOYEE END!! -->

 
<!-- Liabilities START!! -->
 <li class="menu-item active open">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons ri-home-smile-line"></i>
            <div data-i18n="Dashboards">Liabilities</div>
            
          </a>
          <ul class="menu-sub">
           
            <li class="menu-item" routerLinkActive="active">
              <a
                routerLink="lab-materials"
                class="menu-link">
                <div data-i18n="casepaper">Lab Materials</div>
               
              </a>
            </li>
            <li class="menu-item" routerLinkActive="active">
              <a
                routerLink="bike-fule"
                class="menu-link">
                <div data-i18n="#">Bike Fule</div>
              </a>
            </li>
            <li class="menu-item" routerLinkActive="active">
              <a
                routerLink="#"
                class="menu-link">
                <div data-i18n="#"> Employee Salary</div>
              </a>
            </li>
            <li class="menu-item" routerLinkActive="active">
              <a
                routerLink="#"
                class="menu-link">
                <div data-i18n="#"> Light Bill	</div>
              </a>
            </li>
            <li class="menu-item" routerLinkActive="active">
              <a
                routerLink="#"
                class="menu-link">
                <div data-i18n="#">Other Expance</div>
              </a>
            </li>
            <li class="menu-item" routerLinkActive="active">
              <a
                routerLink="#"
                class="menu-link">
                <div data-i18n="#">Doctors</div>
              </a>
            </li>
          </ul>
        </li>
 <!-- Liabilities END!! -->

        <!-- Layouts -->
        <!-- <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons ri-layout-2-line"></i>
            <div data-i18n="Layouts">Layouts</div>
          </a>

          <ul class="menu-sub">
            <li class="menu-item">
              <a href="layouts-without-menu.html" class="menu-link">
                <div data-i18n="Without menu">Without menu</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="layouts-without-navbar.html" class="menu-link">
                <div data-i18n="Without navbar">Without navbar</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="layouts-container.html" class="menu-link">
                <div data-i18n="Container">Container</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="layouts-fluid.html" class="menu-link">
                <div data-i18n="Fluid">Fluid</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="layouts-blank.html" class="menu-link">
                <div data-i18n="Blank">Blank</div>
              </a>
            </li>
          </ul>
        </li> -->

        <!-- Front Pages -->
        <!-- <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons ri-file-copy-line"></i>
            <div data-i18n="Front Pages">Front Pages</div>
            <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a
                href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/html/front-pages/landing-page.html"
                class="menu-link">
                <div data-i18n="Landing">Landing</div>
              </a>
            </li>
            <li class="menu-item">
              <a
                href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/html/front-pages/pricing-page.html"
                class="menu-link">
                <div data-i18n="Pricing">Pricing</div>
              </a>
            </li>
            <li class="menu-item">
              <a
                href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/html/front-pages/payment-page.html"
                class="menu-link">
                <div data-i18n="Payment">Payment</div>
              </a>
            </li>
            <li class="menu-item">
              <a
                href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/html/front-pages/checkout-page.html"
                class="menu-link">
                <div data-i18n="Checkout">Checkout</div>
              </a>
            </li>
            <li class="menu-item">
              <a
                href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/html/front-pages/help-center-landing.html"
                class="menu-link">
                <div data-i18n="Help Center">Help Center</div>
              </a>
            </li>
          </ul>
        </li>

        <li class="menu-header mt-7">
          <span class="menu-header-text">Apps &amp; Pages</span>
        </li> -->
        <!-- Apps -->
        <!-- <li class="menu-item">
          <a
            href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/html/vertical-menu-template/app-email.html"
            class="menu-link">
            <i class="menu-icon tf-icons ri-mail-open-line"></i>
            <div data-i18n="Email">Email</div>
            <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
          </a>
        </li>
        <li class="menu-item">
          <a
            href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/html/vertical-menu-template/app-chat.html"
            class="menu-link">
            <i class="menu-icon tf-icons ri-wechat-line"></i>
            <div data-i18n="Chat">Chat</div>
            <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
          </a>
        </li>
        <li class="menu-item">
          <a
            href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/html/vertical-menu-template/app-calendar.html"
            class="menu-link">
            <i class="menu-icon tf-icons ri-calendar-line"></i>
            <div data-i18n="Calendar">Calendar</div>
            <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
          </a>
        </li>
        <li class="menu-item">
          <a
            href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/html/vertical-menu-template/app-kanban.html"
            class="menu-link">
            <i class="menu-icon tf-icons ri-drag-drop-line"></i>
            <div data-i18n="Kanban">Kanban</div>
            <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
          </a>
        </li> -->
        <!-- Pages -->
        <!-- <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons ri-layout-left-line"></i>
            <div data-i18n="Account Settings">Account Settings</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="pages-account-settings-account.html" class="menu-link">
                <div data-i18n="Account">Account</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="pages-account-settings-notifications.html" class="menu-link">
                <div data-i18n="Notifications">Notifications</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="pages-account-settings-connections.html" class="menu-link">
                <div data-i18n="Connections">Connections</div>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons ri-shield-keyhole-line"></i>
            <div data-i18n="Authentications">Authentications</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="auth-login-basic.html" class="menu-lin>
                <div data-i18n="Basic">Login</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="auth-register-basic.html" class="menu-lin>
                <div data-i18n="Basic">Register</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="auth-forgot-password-basic.html" class="menu-lin>
                <div data-i18n="Basic">Forgot Password</div>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons ri-box-3-line"></i>
            <div data-i18n="Misc">Misc</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="pages-misc-error.htm class="menu-link">
                <div data-i18n="Error">Error</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="pages-misc-under-maintenance.htm class="menu-link">
                <div data-i18n="Under Maintenance">Under Maintenance</div>
              </a>
            </li>
          </ul>
        </li> -->
        <!-- Components -->
        <!-- <li class="menu-header mt-7"><span class="menu-header-text">Components</span></li> -->
        <!-- Cards -->
        <!-- <li class="menu-item">
          <a href="cards-basic.html" class="menu-link">
            <i class="menu-icon tf-icons ri-bank-card-2-line"></i>
            <div data-i18n="Basic">Cards</div>
          </a>
        </li> -->
        <!-- User interface -->
        <!-- <li class="menu-item">
          <a href="javascript:void(0)" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons ri-toggle-line"></i>
            <div data-i18n="User interface">User interface</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="ui-accordion.html" class="menu-link">
                <div data-i18n="Accordion">Accordion</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-alerts.html" class="menu-link">
                <div data-i18n="Alerts">Alerts</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-badges.html" class="menu-link">
                <div data-i18n="Badges">Badges</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-buttons.html" class="menu-link">
                <div data-i18n="Buttons">Buttons</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-carousel.html" class="menu-link">
                <div data-i18n="Carousel">Carousel</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-collapse.html" class="menu-link">
                <div data-i18n="Collapse">Collapse</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-dropdowns.html" class="menu-link">
                <div data-i18n="Dropdowns">Dropdowns</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-footer.html" class="menu-link">
                <div data-i18n="Footer">Footer</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-list-groups.html" class="menu-link">
                <div data-i18n="List Groups">List Groups</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-modals.html" class="menu-link">
                <div data-i18n="Modals">Modals</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-navbar.html" class="menu-link">
                <div data-i18n="Navbar">Navbar</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-offcanvas.html" class="menu-link">
                <div data-i18n="Offcanvas">Offcanvas</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-pagination-breadcrumbs.html" class="menu-link">
                <div data-i18n="Pagination & Breadcrumbs">Pagination &amp; Breadcrumbs</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-progress.html" class="menu-link">
                <div data-i18n="Progress">Progress</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-spinners.html" class="menu-link">
                <div data-i18n="Spinners">Spinners</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-tabs-pills.html" class="menu-link">
                <div data-i18n="Tabs & Pills">Tabs &amp; Pills</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-toasts.html" class="menu-link">
                <div data-i18n="Toasts">Toasts</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-tooltips-popovers.html" class="menu-link">
                <div data-i18n="Tooltips & Popovers">Tooltips &amp; Popovers</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-typography.html" class="menu-link">
                <div data-i18n="Typography">Typography</div>
              </a>
            </li>
          </ul>
        </li> -->

        <!-- Extended components -->
        <!-- <li class="menu-item">
          <a href="javascript:void(0)" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons ri-box-3-line"></i>
            <div data-i18n="Extended UI">Extended UI</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="extended-ui-perfect-scrollbar.html" class="menu-link">
                <div data-i18n="Perfect Scrollbar">Perfect Scrollbar</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="extended-ui-text-divider.html" class="menu-link">
                <div data-i18n="Text Divider">Text Divider</div>
              </a>
            </li>
          </ul>
        </li> -->

        <!-- Icons -->
        <!-- <li class="menu-item">
          <a href="icons-ri.html" class="menu-link">
            <i class="menu-icon tf-icons ri-remixicon-line"></i>
            <div data-i18n="Icons">Icons</div>
          </a>
        </li> -->

        <!-- Forms & Tables -->
        <!-- <li class="menu-header fw-medium mt-4"><span class="menu-header-text">Forms &amp; Tables</span></li> -->
        <!-- Forms -->
        <!-- <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons ri-radio-button-line"></i>
            <div data-i18n="Form Elements">Form Elements</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="forms-basic-inputs.html" class="menu-link">
                <div data-i18n="Basic Inputs">Basic Inputs</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="forms-input-groups.html" class="menu-link">
                <div data-i18n="Input groups">Input groups</div>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons ri-box-3-line"></i>
            <div data-i18n="Form Layouts">Form Layouts</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="form-layouts-vertical.html" class="menu-link">
                <div data-i18n="Vertical Form">Vertical Form</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="form-layouts-horizontal.html" class="menu-link">
                <div data-i18n="Horizontal Form">Horizontal Form</div>
              </a>
            </li>
          </ul>
        </li> -->
        <!-- Form Validation -->
        <!-- <li class="menu-item">
          <a
            href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/html/vertical-menu-template/form-validation.html"
            class="menu-link">
            <i class="menu-icon tf-icons ri-checkbox-multiple-line"></i>
            <div data-i18n="Form Validation">Form Validation</div>
            <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
          </a>
        </li> -->
        <!-- Tables -->
        <!-- <li class="menu-item">
          <a href="tables-basic.html" class="menu-link">
            <i class="menu-icon tf-icons ri-table-alt-line"></i>
            <div data-i18n="Tables">Tables</div>
          </a>
        </li> -->
        <!-- Data Tables -->
        <!-- <li class="menu-item">
          <a
            href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/html/vertical-menu-template/tables-datatables-basic.html"
            class="menu-link">
            <i class="menu-icon tf-icons ri-grid-line"></i>
            <div data-i18n="Datatables">Datatables</div>
            <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
          </a>
        </li> -->
        <!-- Misc -->
        <!-- <li class="menu-header mt-7"><span class="menu-header-text">Misc</span></li>
        <li class="menu-item">
          <a
            href="https://github.com/themeselection/materio-bootstrap-html-admin-template-free/issues"
            class="menu-link">
            <i class="menu-icon tf-icons ri-lifebuoy-line"></i>
            <div data-i18n="Support">Support</div>
          </a>
        </li>
        <li class="menu-item">
          <a
            href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/documentation/"
            class="menu-link">
            <i class="menu-icon tf-icons ri-article-line"></i>
            <div data-i18n="Documentation">Documentation</div>
          </a>
        </li> -->
      </ul>
    </aside>
    <!-- / Menu -->
