<div class="layout-wrapper layout-content-navbar ">
  <div class="layout-container ">
    <!-- Menu -->

    <aside id="layout-menu" style="position: fixed;"
      class="layout-menu menu-vertical menu shadow-xs bg-white rounded m-3">

      <div class="app-brand demo ">
        <a href="index.html" class="app-brand-link">
          <span class="app-brand-logo demo me-1">
            <svg width="36" height="36" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M48 12C43 7 37 4 30 4C16.7 4 4 20 4 32C4 46 16.7 60 30 60C37 60 43 57 48 52" stroke="url(#grad)"
                stroke-width="8" stroke-linecap="round" />
              <defs>
                <linearGradient id="grad" x1="4" y1="32" x2="48" y2="32" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#A065F0" />
                  <stop offset="1" stop-color="#7161EF" />
                </linearGradient>
              </defs>
            </svg>
          </span>
          <span class="app-brand-text demo menu-text fw-semibold ms-2">CLINIK-ONE</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
          <i class="menu-toggle-icon d-xl-block align-middle"></i>
        </a>
      </div>

      <div class="menu-inner-shadow"></div>

      <ul class="menu-inner py-1 ">

        <li class="menu-item" routerLinkActive="active" *ngIf ="user.useR_LOGIN == 'LABADMIN' || user.useR_LOGIN == 'EMPLOYEE' || user.lab_Admin == 'Y'">
          <a routerLink="/LABADMIN/dashboard" class="menu-link">
            <i class="menu-icon tf-icons ri-home-smile-line"></i>
            <div data-i18n="dashboard">Home</div>
          </a>
        </li>

        <li class="menu-item" routerLinkActive="active" *ngIf ="user.useR_LOGIN == 'LABADMIN' || user.useR_LOGIN == 'EMPLOYEE' || user.lab_Admin == 'Y'">
          <a routerLink="/LABADMIN/casepaper" class="menu-link">
            <i class="menu-icon ri-profile-line"></i>
            <div data-i18n="casepaper">CasePaper</div>

          </a>
        </li>


          <!-- Master -->
          <li class="menu-item active close" *ngIf ="user.useR_LOGIN == 'LABADMIN' || user.useR_LOGIN == 'EMPLOYEE' || user.lab_Admin == 'Y'">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon ri-bar-chart-horizontal-fill "></i>
              <div data-i18n="Dashboards">Master</div>
              <!-- <div class="badge bg-danger rounded-pill ms-auto">5</div> -->
            </a>
            <ul class="menu-sub">
              <!-- <li class="menu-item">
                <a
                  href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/html/vertical-menu-template/dashboards-crm.html"
                  target="_blank"
                  class="menu-link">
                  <div data-i18n="CRM">CRM</div>
                  <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
                </a>
              </li> -->
              <li class="menu-item" routerLinkActive="active">
                <a routerLink="/LABADMIN/add-test" class="menu-link">
                  <div data-i18n="add-test">Test</div>
                  <!-- <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div> -->
                </a>
              </li>
              <li class="menu-item" routerLinkActive="active">
                <a routerLink="/LABADMIN/doctor" class="menu-link">
                  <div data-i18n="doctor">Doctor</div>
                  <!-- <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div> -->
                </a>
              </li>
              <li class="menu-item" routerLinkActive="active" *ngIf ="user.useR_LOGIN == 'LABADMIN' || user.lab_Admin == 'Y'">
                <a routerLink="/LABADMIN/create-employee" class="menu-link">
                  <div data-i18n="create-employee"> Create Employee</div>
                </a>
              </li>
              <!-- <li class="menu-item" routerLinkActive="active">
                <a routerLink="/LABADMIN/casepaper" class="menu-link">
                  <div data-i18n="casepaper">Case Paper</div>
                </a>
              </li> -->
              <!-- <li class="menu-item">
                <a
                  href="#"
                  class="menu-link">
                  <div data-i18n="Logistics">Logistics</div>
                  <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
                </a>
              </li> -->
              <!-- <li class="menu-item">
                <a
                  href="#"
                  class="menu-link">
                  <div data-i18n="Academy">Academy</div>
                  <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
                </a>
              </li> -->
            </ul>
          </li>




          <!-- Liabilities START!! -->
          <li class="menu-item active close" *ngIf ="user.useR_LOGIN == 'LABADMIN' || user.lab_Admin == 'Y'">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons ri-uninstall-fill"></i>
              <div data-i18n="Dashboards">Liabilities</div>

            </a>
            <ul class="menu-sub">

              <li class="menu-item" routerLinkActive="active">
                <a routerLink="lab-materials" class="menu-link">
                  <div data-i18n="casepaper">Lab Materials</div>

                </a>
              </li>
              <li class="menu-item" routerLinkActive="active">
                <a routerLink="bike-fule" class="menu-link">
                  <div data-i18n="#">Bike Fule</div>
                </a>
              </li>
              <li class="menu-item" routerLinkActive="active">
                <a routerLink="employee-salary" class="menu-link">
                  <div data-i18n="#"> Employee Salary</div>
                </a>
              </li>
              <li class="menu-item" routerLinkActive="active">
                <a routerLink="ele-bill" class="menu-link">
                  <div data-i18n="#"> Electricity Bill </div>
                </a>
              </li>
              <li class="menu-item" routerLinkActive="active">
                <a routerLink="other-expense" class="menu-link">
                  <div data-i18n="#">Other Expance</div>
                </a>
              </li>
              <li class="menu-item" routerLinkActive="active">
                <a routerLink="doctor-commission" class="menu-link">
                  <div data-i18n="#">Doctors</div>
                </a>
              </li>
            </ul>
          </li>

        <!-- Liabilities END!! -->
        <!-- EMPLOYEE START!! -->
        <!-- <li class="menu-item active close">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon ri-bar-chart-horizontal-fill "></i>
            <div data-i18n="Dashboards">MASTER</div>

          </a>
          <ul class="menu-sub">

            <li class="menu-item" routerLinkActive="active">
              <a routerLink="casepaper" class="menu-link">
                <div data-i18n="casepaper">CasePaper</div>

              </a>
            </li>
            <li class="menu-item" routerLinkActive="active">
              <a routerLink="#" class="menu-link">
                <div data-i18n="#">Test</div>
              </a>
            </li>
          </ul>
        </li> -->
        <!-- EMPLOYEE END!! -->


          <li class="menu-header mt-7" *ngIf ="user.useR_LOGIN == 'LABADMIN' || user.lab_Admin == 'Y'"><span class="menu-header-text">Finance</span></li>

          <!-- Finance -->
          <li class="menu-item" routerLinkActive="active" *ngIf ="user.useR_LOGIN == 'LABADMIN' || user.lab_Admin == 'Y'">
            <a routerLink="/LABADMIN/finance" class="menu-link">
              <i class="menu-icon ri-money-dollar-circle-line"></i>
              <div data-i18n="Finance">Finance</div>

            </a>
          </li>

          <!-- Charts -->
          <li class="menu-item" routerLinkActive="active" *ngIf ="user.useR_LOGIN == 'LABADMIN' || user.lab_Admin == 'Y'">
            <a routerLink="/LABADMIN/charts" class="menu-link">
              <i class="menu-icon ri-stock-line"></i>
              <div data-i18n="Charts">Charts</div>

            </a>
          </li>



          <li class="menu-header mt-7" *ngIf ="user.useR_LOGIN == 'LABADMIN' || user.lab_Admin == 'Y'"><span class="menu-header-text">APPROVE</span></li>

          <!-- APPROVE -->
          <li class="menu-item active close" *ngIf ="user.useR_LOGIN == 'LABADMIN' || user.lab_Admin == 'Y'">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon ri-checkbox-circle-line"></i>
              <div data-i18n="Dashboards">Approve</div>

            </a>
            <ul class="menu-sub">

              <li class="menu-item" routerLinkActive="active">
                <a routerLink="/LABADMIN/approve/casepaper/" class="menu-link">
                  <div data-i18n="approve/casepaper">CasePaper</div>

                </a>
              </li>
              <li class="menu-item" routerLinkActive="active">
                <a routerLink="/LABADMIN/approve/test" class="menu-link">
                  <div data-i18n="approve/test">Test</div>
                </a>
              </li>
            </ul>
          </li>

          <!-- Finance -->
          <li class="menu-item" routerLinkActive="active" *ngIf ="user.useR_LOGIN != 'LABADMIN' && user.useR_LOGIN != 'EMPLOYEE' && user.lab_Admin != 'Y'">
            <a routerLink="/ADMIN/users" class="menu-link">
              <i class="menu-icon ri-money-dollar-circle-line"></i>
              <div data-i18n="Finance">Companies</div>

            </a>
          </li>



      </ul>
    </aside>
    <!-- / Menu -->
  </div>
</div>
