<div class="layout-wrapper layout-content-navbar ">
  <div class="layout-container ">
    <!-- Menu -->

    <aside id="layout-menu" style="position: fixed;"
      class="layout-menu menu-vertical menu shadow-xs bg-white rounded m-3">

      <div class="app-brand demo ">
        <a href="index.html" class="app-brand-link">
          <span class="app-brand-logo demo me-1">
           <svg width="30" height="24" viewBox="0 0 250 196" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12.3002 1.25469L56.655 28.6432C59.0349 30.1128 60.4839 32.711 60.4839 35.5089V160.63C60.4839 163.468 58.9941 166.097 56.5603 167.553L12.2055 194.107C8.3836 196.395 3.43136 195.15 1.14435 191.327C0.395485 190.075 0 188.643 0 187.184V8.12039C0 3.66447 3.61061 0.0522461 8.06452 0.0522461C9.56056 0.0522461 11.0271 0.468577 12.3002 1.25469Z"
                    fill="currentColor" />
                  <path opacity="0.077704" fill-rule="evenodd" clip-rule="evenodd"
                    d="M0 65.2656L60.4839 99.9629V133.979L0 65.2656Z" fill="black" />
                  <path opacity="0.077704" fill-rule="evenodd" clip-rule="evenodd"
                    d="M0 65.2656L60.4839 99.0795V119.859L0 65.2656Z" fill="black" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M237.71 1.22393L193.355 28.5207C190.97 29.9889 189.516 32.5905 189.516 35.3927V160.631C189.516 163.469 191.006 166.098 193.44 167.555L237.794 194.108C241.616 196.396 246.569 195.151 248.856 191.328C249.605 190.076 250 188.644 250 187.185V8.09597C250 3.64006 246.389 0.027832 241.935 0.027832C240.444 0.027832 238.981 0.441882 237.71 1.22393Z"
                    fill="currentColor" />
                  <path opacity="0.077704" fill-rule="evenodd" clip-rule="evenodd"
                    d="M250 65.2656L189.516 99.8897V135.006L250 65.2656Z" fill="black" />
                  <path opacity="0.077704" fill-rule="evenodd" clip-rule="evenodd"
                    d="M250 65.2656L189.516 99.0497V120.886L250 65.2656Z" fill="black" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12.2787 1.18923L125 70.3075V136.87L0 65.2465V8.06814C0 3.61223 3.61061 0 8.06452 0C9.552 0 11.0105 0.411583 12.2787 1.18923Z"
                    fill="currentColor" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12.2787 1.18923L125 70.3075V136.87L0 65.2465V8.06814C0 3.61223 3.61061 0 8.06452 0C9.552 0 11.0105 0.411583 12.2787 1.18923Z"
                    fill="white" fill-opacity="0.15" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M237.721 1.18923L125 70.3075V136.87L250 65.2465V8.06814C250 3.61223 246.389 0 241.935 0C240.448 0 238.99 0.411583 237.721 1.18923Z"
                    fill="currentColor" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M237.721 1.18923L125 70.3075V136.87L250 65.2465V8.06814C250 3.61223 246.389 0 241.935 0C240.448 0 238.99 0.411583 237.721 1.18923Z"
                    fill="white" fill-opacity="0.3" />
                </svg>
          </span>
          <span class="app-brand-text demo menu-text fw-semibold ms-2">LAB-ERP</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
          <i class="menu-toggle-icon d-xl-block align-middle"></i>
        </a>
      </div>

      <div class="menu-inner-shadow"></div>

      <ul class="menu-inner py-1 ">

        <li class="menu-item" routerLinkActive="active"
          *ngIf="user.useR_LOGIN == 'LABADMIN' || user.useR_LOGIN == 'EMPLOYEE' || user.lab_Admin == 'Y'">
          <a routerLink="/LABADMIN/dashboard" class="menu-link">
            <i class="menu-icon tf-icons ri-home-smile-line"></i>
            <div data-i18n="dashboard">Home</div>
          </a>
        </li>

        <li class="menu-item" routerLinkActive="active"
          *ngIf="user.useR_LOGIN == 'LABADMIN' || user.useR_LOGIN == 'EMPLOYEE' || user.lab_Admin == 'Y'">
          <a routerLink="/LABADMIN/casepaper" class="menu-link">
            <i class="menu-icon ri-profile-line"></i>
            <div data-i18n="casepaper">CasePaper</div>

          </a>
        </li>


        <!-- Master -->
        <li class="menu-item active close"
          *ngIf="user.useR_LOGIN == 'LABADMIN' || user.useR_LOGIN == 'EMPLOYEE' || user.lab_Admin == 'Y'">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon ri-bar-chart-horizontal-fill "></i>
            <div data-i18n="Dashboards">Master</div>
            <!-- <div class="badge bg-danger rounded-pill ms-auto">5</div> -->
          </a>
          <ul class="menu-sub">

            <li class="menu-item" routerLinkActive="active">
              <a routerLink="/LABADMIN/add-test" class="menu-link">
                <div data-i18n="add-test">Test</div>
              </a>
            </li>
            <li class="menu-item" routerLinkActive="active">
              <a routerLink="/LABADMIN/doctor" class="menu-link">
                <div data-i18n="doctor">Doctor</div>
              </a>
            </li>
            <li class="menu-item" routerLinkActive="active"
              *ngIf="user.useR_LOGIN == 'LABADMIN' || user.lab_Admin == 'Y'">
              <a routerLink="/LABADMIN/create-employee" class="menu-link">
                <div data-i18n="create-employee"> Create Employee</div>
              </a>
            </li>
          </ul>
        </li>




        <!-- Liabilities START!! -->
        <li class="menu-item active close"
          *ngIf="user.useR_LOGIN == 'LABADMIN' || user.useR_LOGIN == 'EMPLOYEE' || user.lab_Admin == 'Y'">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons ri-uninstall-fill"></i>
            <div data-i18n="Dashboards">Liabilities</div>

          </a>
          <ul class="menu-sub">

            <li class="menu-item" routerLinkActive="active">
              <a routerLink="lab-materials" class="menu-link">
                <div data-i18n="casepaper">Lab Materials</div>

              </a>
            </li>
            <li class="menu-item" routerLinkActive="active">
              <a routerLink="bike-fule" class="menu-link">
                <div data-i18n="#">Bike Fule</div>
              </a>
            </li>
            <li class="menu-item" routerLinkActive="active">
              <a routerLink="employee-salary" class="menu-link">
                <div data-i18n="#"> Employee Salary</div>
              </a>
            </li>
            <li class="menu-item" routerLinkActive="active">
              <a routerLink="ele-bill" class="menu-link">
                <div data-i18n="#"> Electricity Bill </div>
              </a>
            </li>
            <li class="menu-item" routerLinkActive="active">
              <a routerLink="other-expense" class="menu-link">
                <div data-i18n="#">Other Expance</div>
              </a>
            </li>
            <li class="menu-item" routerLinkActive="active">
              <a routerLink="doctor-commission" class="menu-link">
                <div data-i18n="#">Doctors</div>
              </a>
            </li>
          </ul>
        </li>

        <!-- Liabilities END!! -->


        <li class="menu-header mt-7" *ngIf="user.useR_LOGIN == 'LABADMIN' || user.lab_Admin == 'Y'"><span
            class="menu-header-text">Finance</span></li>

        <!-- Finance -->
        <li class="menu-item" routerLinkActive="active" *ngIf="user.useR_LOGIN == 'LABADMIN' || user.lab_Admin == 'Y'">
          <a routerLink="/LABADMIN/finance" class="menu-link">
            <i class="menu-icon ri-money-dollar-circle-line"></i>
            <div data-i18n="Finance">Finance</div>

          </a>
        </li>

        <!-- Charts -->
        <li class="menu-item" routerLinkActive="active" *ngIf="user.useR_LOGIN == 'LABADMIN' || user.lab_Admin == 'Y'">
          <a routerLink="/LABADMIN/charts" class="menu-link">
            <i class="menu-icon ri-stock-line"></i>
            <div data-i18n="Charts">Charts</div>

          </a>
        </li>



        <li class="menu-header mt-7" *ngIf="user.useR_LOGIN == 'LABADMIN' || user.lab_Admin == 'Y'"><span
            class="menu-header-text">APPROVE</span></li>

        <!-- APPROVE -->
        <li class="menu-item active close" *ngIf="user.useR_LOGIN == 'LABADMIN' || user.lab_Admin == 'Y'">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon ri-checkbox-circle-line"></i>
            <div data-i18n="Dashboards">Approve</div>

          </a>
          <ul class="menu-sub">

            <li class="menu-item" routerLinkActive="active">
              <a routerLink="/LABADMIN/app-approve-casepaper" class="menu-link">
                <div data-i18n="app-approve-casepaper">CasePaper</div>
                <div class="badge bg-danger rounded-pill ms-auto">3</div>
              </a>
            </li>
            <li class="menu-item" routerLinkActive="active">
              <a routerLink="/LABADMIN/approve/test" class="menu-link">
                <div data-i18n="approve/test">Test</div>
                <div class="badge bg-danger rounded-pill ms-auto">1</div>
              </a>
            </li>

            <!--Approve Master -->
            <li class="menu-item active close mb-7"
              *ngIf="user.useR_LOGIN == 'LABADMIN' || user.useR_LOGIN == 'EMPLOYEE' || user.lab_Admin == 'Y'">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon ri-bar-chart-horizontal-fill "></i>
                <div data-i18n="Dashboards">Master</div>
                <!-- <div class="badge bg-danger rounded-pill ms-auto">5</div> -->
              </a>
              <ul class="menu-sub">

                <li class="menu-item" routerLinkActive="active">
                  <a routerLink="/LABADMIN/add-test" class="menu-link">
                    <div data-i18n="add-test">Test</div>
                    <div class="badge bg-danger rounded-pill ms-auto">6</div>
                    <!-- <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div> -->
                  </a>
                </li>
                <li class="menu-item" routerLinkActive="active">
                  <a routerLink="/LABADMIN/doctor" class="menu-link">
                    <div data-i18n="doctor">Doctor</div>
                    <div class="badge bg-danger rounded-pill ms-auto">0</div>
                    <!-- <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div> -->
                  </a>
                </li>
                <li class="menu-item" routerLinkActive="active"
                  *ngIf="user.useR_LOGIN == 'LABADMIN' || user.lab_Admin == 'Y'">
                  <a routerLink="/LABADMIN/create-employee" class="menu-link">
                    <div data-i18n="create-employee"> Create Employee</div>
                  </a>
                </li>

              </ul>
            </li>

          </ul>
        </li>

        <!-- Finance -->
        <li class="menu-item" routerLinkActive="active"
          *ngIf="user.useR_LOGIN != 'LABADMIN' && user.useR_LOGIN != 'EMPLOYEE' && user.lab_Admin != 'Y'">
          <a routerLink="/ADMIN/users" class="menu-link">
            <i class="menu-icon ri-money-dollar-circle-line"></i>
            <div data-i18n="Finance">Companies</div>

          </a>
        </li>

        <li class="mt-7"></li>

      </ul>
    </aside>
    <!-- / Menu -->
  </div>
</div>