<div class="container  container-p-y">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#doctorFormModal">
        Add Material
    </button>
</div>

<div class="modal fade custom-modal-fade" id="doctorFormModal" tabindex="-1" aria-labelledby="doctorFormModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal-dialog">
        <div class="modal-content custom-modal-content">
            <div class="modal-header custom-modal-header">
                <div class="modal-title-wrapper">
                    <div class="modal-icon">
                        <i class="ri-file-add-line"></i>
                    </div>
                    <h5 class="modal-title custom-modal-title" id="doctorFormModalLabel">Add New Material</h5>
                </div>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body custom-modal-body">
                <form [formGroup]="data" (ngSubmit)="submit(data.value)" class="custom-form">
                    <div class="form-group-wrapper">
                        <div class="custom-form-group">
                            <div class="form-floating form-floating-outline mb-4">
                                <input type="date" class="form-control" formControlName="DATE"
                                    placeholder="Select date">
                                <label for="date"><i class="ri-calendar-line"></i> Date<span
                                        class="text-danger">*</span></label>
                            </div>
                        </div>

                        <div class="custom-form-group">
                            <div class="form-floating form-floating-outline mb-4">
                                <input type="text" id="material-name" class="form-control" formControlName="MAT_NAME"
                                    placeholder="Material Name" />
                                <label for="material-name"><i class="ri-box-3-line"></i>Material Name <span
                                        class="text-danger">*</span></label>
                            </div>
                        </div>

                        <div class="custom-form-group">
                            <div class="form-floating form-floating-outline mb-4">
                                <input type="number" id="materialPrice" class="form-control" formControlName="MAT_PRICE"
                                    placeholder="Price" />
                                <label for="materialPrice"> <i class="ri-money-rupee-circle-line"></i>Price <span
                                        class="text-danger">*</span></label>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer custom-modal-footer">
                        <button type="button" class="custom-btn custom-btn-cancel" data-bs-dismiss="modal">
                            <i class="ri-close-line"></i>
                            Cancel
                        </button>
                        <button type="submit" class="custom-btn custom-btn-save" data-bs-dismiss="modal">
                            <i class="ri-save-line"></i>
                            Save Material
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <h5 class="card-header">Material Index</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead class="table-dark" style="--bs-table-bg: #8c57ff !important;">
                    <tr>
                        <th>Actions</th>
                        <th>Material Code</th>
                        <th>Material Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    <tr *ngFor="let material of materials">
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                    data-bs-toggle="dropdown">
                                    <i class="ri-more-2-line"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);">
                                        <i class="ri-pencil-line me-1"></i> Edit
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0);">
                                        <i class="ri-delete-bin-6-line me-1"></i> Delete
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td><i class="ri-suitcase-2-line ri-22px text-danger me-4"></i><span>{{material.maT_ID}}</span>
                        </td>
                        <td>{{material.maT_NAME}}</td>
                        <td><span class="badge rounded-pill bg-label-primary me-1">₹ {{material.maT_PRICE}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>