
        <!-- Footer -->
        <footer class="content-footer footer bg-footer-theme no-print">
          <div class="container-xxl">
            <div
              class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
              <div class="text-body mb-2 mb-md-0 no-print">
                © <b><a href="https://suyashpatil.in/" style="color:#6d6777 !important">Suyash Patil & Company!</a></b>
                <script>
                  document.write(new Date().getFullYear());
                </script>
              </div>
            </div>
          </div>
        </footer>
        <!-- / Footer -->


